body{
  margin:0;
  font-family: Arial;
  background:#0b0b0b;
  color:#fff;
}

/* NAVBAR */
.navbar{
  display:flex;
  justify-content:space-between;
  padding:15px 30px;
  background:#111;
}

.navbar a{
  color:#fff;
  margin:0 10px;
  text-decoration:none;
}

.logo{
  font-weight:bold;
}

/* HERO */
.hero{
  display:flex;
  align-items:center;
  justify-content:space-around;
  padding:50px;
  background:linear-gradient(#000,#111);
}

.hero-text h1{
  font-size:40px;
  color:gold;
}

.sub{
  color:#ccc;
}

.contact{
  margin-top:10px;
  color:gold;
}

.hero-img img{
  width:250px;
  border-radius:10px;
}

/* SERVICES */
.services{
  padding:40px;
  text-align:center;
}

.service-box{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:15px;
}

.service-box div{
  background:#111;
  padding:15px;
  border-left:4px solid gold;
}

/* KUNDLI */
.kundli{
  padding:40px;
  text-align:center;
}

.kundli input{
  display:block;
  margin:10px auto;
  padding:10px;
  width:250px;
}

button{
  padding:10px 20px;
  background:gold;
  border:none;
  cursor:pointer;
}

#result{
  margin-top:20px;
}

/* FOOTER */
footer{
  text-align:center;
  padding:20px;
  background:#111;
}
